<footer id="footer">
  <div class="footer-holder">
    <div class="footer-frame">
      <span class="copy">&copy; 2013 SPARK6. All Rights Reserved.</span>
      <ul class="social">
        <li><a href="https://www.facebook.com/spark6agency">Facebook</a></li>
        <li><a href="http://www.linkedin.com/company/2462187">LinkedIn</a></li>
      </ul>
    </div>
  </div>
</footer>