<footer id="footer">
  <div class="footer-holder">
    <div class="footer-frame">
      <span class="copy">&copy; 2013 SPARK6. All Rights Reserved.</span>
      <ul class="social">
        <li><a href="#">Facebook</a></li>
        <li><a href="#">LinkedIn</a></li>
      </ul>
    </div>
  </div>
</footer>