<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style="font-family: Arial, Helvetica">
    <h1>Please use the link below to authorize your Instagram account</h1>
    <p>
      <%= link_to "Click here to authorize!", @authorization_url %>
    </p>
    <p>Thank you for your authorization! :)</p>
  </body>
</html>
