/* Home CSS Styles */
/* Home Jumbotron */
.container .home-video {
  padding: 0;
  position: relative;
  margin-bottom: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
.container .home-video a {
  display: block;
}
.container .home-video img {
  width: 100%;
  height: auto;
}
.container .home-video .welcome p {
  color: #282727;
  font-family: "franklin-gothic-urw";
  font-weight: 900;
  font-size: 170px;
  line-height: 123px;
  width: 810px;
  position: absolute;
  left: 37px;
  top: 182px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.container .home-video .video {
  display: none;
  z-index: 899;
  position: absolute;
  top: 0;
  left: 0;
}
.container .home-video .video p {
  color: #fff;
  font-family: "franklin-gothic-urw";
  font-weight: 900;
  font-size: 170px;
  line-height: 123px;
  width: 430px;
  position: absolute;
  left: 37px;
  top: 182px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
/* Home Services */
#services {
  padding-left: 12px;
  padding-right: 12px;
}
#services .col-md-4 {
  padding: 0;
}
#services a {
  border: 0;
  padding: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  position: relative;
  text-decoration: none;
}
#services a img {
  position: relative;
  z-index: 50;
}
#services a h4 {
  font-family: "franklin-gothic-urw";
  font-weight: 900;
  font-size: 40px;
  line-height: 32px;
  color: #cbcbcb;
  margin: 0;
  text-transform: uppercase;
  position: absolute;
  top: 140px;
  left: 45px;
  z-index: 100;
}
#services a .service-text {
  position: absolute;
  top: 163px;
  left: 45px;
  z-index: 100;
  width: 240px;
  display: none;
}
#services a p {
  margin: 0 0 25px 0;
  line-height: 22px;
  color: #fff;
}
#services a .btn {
  border: 1px solid #fff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  font-size: 16px;
  line-height: 44px;
  padding: 0 15px 0 50px;
  color: #fff;
  margin: 0;
  position: relative;
  -webkit-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -o-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}
#services a p.btn:hover {
  color: #f5360a;
}
#services a .red-overlay {
  display: none;
  width: 100%;
  height: 358px;
  background: #f43509;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 60;
}
/* Service Icon buttons */
.btn span {
  position: absolute;
  height: 30px;
  background: url(../img/sprite-services.svg) no-repeat;
  background-size: 145px auto;
}
.btn.icon-mobile span {
  width: 16px;
  left: 17px;
  top: 8px;
  background-position: 0 0;
}
.btn.icon-cms span {
  width: 24px;
  left: 14px;
  top: 10px;
  background-position: -17px 0;
}
.btn.icon-ux span {
  width: 25px;
  left: 12px;
  top: 10px;
  background-position: -42px 0;
}
.btn.icon-enterprise span {
  width: 23px;
  left: 15px;
  top: 12px;
  background-position: -69px 0;
}
.btn.icon-marketing span {
  width: 24px;
  left: 14px;
  top: 11px;
  background-position: -94px 0;
}
.btn.icon-video span {
  width: 26px;
  left: 13px;
  top: 13px;
  background-position: -119px 0;
}
.btn:hover {
  background: #fff;
}
.btn:hover.icon-mobile span {
  background-position: 0 -31px;
}
.btn:hover.icon-cms span {
  background-position: -17px -32px;
}
.btn:hover.icon-ux span {
  background-position: -42px -32px;
}
.btn:hover.icon-enterprise span {
  background-position: -69px -32px;
}
.btn:hover.icon-marketing span {
  background-position: -94px -32px;
}
.btn:hover.icon-video span {
  background-position: -119px -32px;
}
/* Service Icons Fallback */
.no-svg .btn span {
  position: absolute;
  height: 30px;
  background: url(../img/sprite-services.png) no-repeat;
}
.no-svg .btn.icon-mobile span {
  width: 16px;
  left: 17px;
  top: 8px;
  background-position: 0 0;
}
.no-svg .btn.icon-cms span {
  width: 24px;
  left: 14px;
  top: 10px;
  background-position: -17px 0;
}
.no-svg .btn.icon-ux span {
  width: 25px;
  left: 14px;
  top: 12px;
  background-position: -42px 0;
}
.no-svg .btn.icon-enterprise span {
  width: 23px;
  left: 15px;
  top: 12px;
  background-position: -69px 0;
}
.no-svg .btn.icon-marketing span {
  width: 24px;
  left: 14px;
  top: 11px;
  background-position: -94px 0;
}
.no-svg .btn.icon-video span {
  width: 26px;
  left: 13px;
  top: 16px;
  background-position: -119px 0;
}
.no-svg .btn:hover {
  background: #fff;
}
.no-svg .btn:hover.icon-mobile span {
  background-position: 0 -30px;
}
.no-svg .btn:hover.icon-cms span {
  background-position: -17px -32px;
}
.no-svg .btn:hover.icon-ux span {
  background-position: -42px -32px;
}
.no-svg .btn:hover.icon-enterprise span {
  background-position: -69px -32px;
}
.no-svg .btn:hover.icon-marketing span {
  background-position: -94px -32px;
}
.no-svg .btn:hover.icon-video span {
  background-position: -119px -32px;
}
/* Facebook Feed */
.container .home-facebook {
  position: relative;
  background: #0096ff;
  padding: 0;
  margin: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  height: 530px;
}
.container .home-facebook a {
  display: block;
  height: auto;
  padding: 278px 0 0 0;
  height: 530px;
  text-decoration: none;
}
.container .home-facebook a h2 {
  font-family: "gotham-thin";
  font-weight: normal;
  font-size: 32px;
  line-height: 42px;
  color: #fff;
  width: 755px;
  margin: 0 auto 23px auto;
}
.container .home-facebook a p {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0061a5;
}
.container .home-facebook a .fb-icon {
  width: 85px;
  height: 86px;
  position: absolute;
  top: 130px;
  left: 50%;
  margin-left: -42px;
  background: url(../img/sprite-fb.png) no-repeat -85px 0;
}
.container .home-facebook a .fb-icon span {
  width: 35px;
  height: 29px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -17px;
  background: url(../img/sprite-fb-icon.svg) no-repeat 10px 0;
  background-size: 64px auto;
}
.container .home-facebook a .fb-shadow {
  width: 36px;
  height: 6px;
  position: absolute;
  left: 50%;
  margin-left: -18px;
  top: 240px;
  background: url(../img/shadow.png) no-repeat 0 0;
}
.container .home-facebook a:hover .fb-icon span {
  background-position: -29px 0;
}
.container .home-facebook a.pressed .fb-icon {
  background-position: 0 0;
}
.container .home-facebook a.pressed .fb-icon span {
  display: none;
}
.container .home-facebook a.deactive .fb-icon {
  background-position: -172px 0;
}
.container .home-facebook a.deactive .fb-icon span {
  display: none;
}
/* Facebook Feed Retina */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .container .home-facebook a .fb-icon {
    background: url('../img/sprite-fb2x.png') no-repeat -85px 0;
    background-size: 256px auto;
  }
  .container .home-facebook a .fb-shadow {
    background: url('../img/shadow2x.png') no-repeat 0 0;
    background-size: 36px auto;
  }
}
/* Facebook Feed SVG fallbacks */
.no-svg .container .home-facebook a .fb-icon {
  background: url(../img/sprite-fb.png) no-repeat -85px 0;
}
.no-svg .container .home-facebook a .fb-icon span {
  background: url(../img/sprite-fb-icon.png) no-repeat 10px 0;
}
.no-svg .container .home-facebook a .fb-shadow {
  background: url(../img/shadow.png) no-repeat 0 0;
}
.no-svg .container .home-facebook a:hover .fb-icon span {
  background-position: -29px 0;
}
.no-svg .container .home-facebook a.pressed .fb-icon {
  background-position: 0 0;
}
.no-svg .container .home-facebook a.pressed .fb-icon span {
  display: none;
}
.no-svg .container .home-facebook a.deactive .fb-icon {
  background-position: -172px 0;
}
.no-svg .container .home-facebook a.deactive .fb-icon span {
  display: none;
}
/* Home - Companies */
#companies {
  padding-left: 12px;
  padding-right: 12px;
}
#companies .col-md-3 {
  padding: 0;
}
#companies a.thumbnail {
  padding: 0;
  border: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  height: 270px;
  border-right: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
  background: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#companies a.thumbnail.last {
  border-right: 0;
}
#companies a.thumbnail:hover {
  background: #fcfcfc;
}
#companies a.thumbnail p,
#companies a.thumbnail .rollover {
  text-indent: -9999em;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
#companies a.thumbnail.paypal p,
#companies a.thumbnail.paypal .rollover {
  width: 160px;
  height: 43px;
  margin-left: -80px;
  margin-top: -21.5px;
  background: url(../img/company-paypal.svg) no-repeat 0px 2px;
  background-size: 158px auto;
  z-index: 90;
}
#companies a.thumbnail.paypal .rollover {
  opacity: 0;
  z-index: 95;
  background-position: 0px -41px;
}
#companies a.thumbnail.dsc p,
#companies a.thumbnail.dsc .rollover {
  width: 96px;
  height: 98px;
  margin-left: -48px;
  margin-top: -49px;
  background: url(../img/company-dsc.svg) no-repeat 0px 4px;
  background-size: 96px auto;
  z-index: 90;
}
#companies a.thumbnail.dsc .rollover {
  opacity: 0;
  z-index: 95;
  background-position: 0px -94px;
}
#companies a.thumbnail.cisco p,
#companies a.thumbnail.cisco .rollover {
  width: 120px;
  height: 64px;
  margin-left: -60px;
  margin-top: -32px;
  background: url(../img/company-cisco.svg) no-repeat 0px 4px;
  background-size: 119px auto;
  z-index: 90;
}
#companies a.thumbnail.cisco .rollover {
  opacity: 0;
  z-index: 95;
  background-position: 0px -64px;
}
#companies a.thumbnail.ebay p,
#companies a.thumbnail.ebay .rollover {
  width: 184px;
  height: 44px;
  margin-left: -92px;
  margin-top: -22px;
  background: url(../img/company-ebayinc.svg) no-repeat 0px 2px;
  background-size: 184px auto;
  z-index: 90;
}
#companies a.thumbnail.ebay .rollover {
  opacity: 0;
  z-index: 95;
  background-position: 0px -44px;
}
#companies a.thumbnail.bbdo p,
#companies a.thumbnail.bbdo .rollover {
  width: 125px;
  height: 37px;
  margin-left: -62.5px;
  margin-top: -18.5px;
  background: url(../img/company-bbdo.svg) no-repeat 0px 2px;
  background-size: 125px auto;
  z-index: 90;
}
#companies a.thumbnail.bbdo .rollover {
  opacity: 0;
  z-index: 95;
  background-position: 0px -35px;
}
#companies a.thumbnail.ebaycarreers p,
#companies a.thumbnail.ebaycarreers .rollover {
  width: 176px;
  height: 61px;
  margin-left: -88px;
  margin-top: -30.5px;
  background: url(../img/company-ebayc.svg) no-repeat 0px 2px;
  background-size: 176px auto;
  z-index: 90;
}
#companies a.thumbnail.ebaycarreers .rollover {
  opacity: 0;
  z-index: 95;
  background-position: 0px -60px;
}
#companies a.thumbnail.att p,
#companies a.thumbnail.att .rollover {
  width: 160px;
  height: 73px;
  margin-left: -80px;
  margin-top: -36.5px;
  background: url(../img/company-att.svg) no-repeat 0px 2px;
  background-size: 160px auto;
  z-index: 90;
}
#companies a.thumbnail.att .rollover {
  opacity: 0;
  z-index: 95;
  background-position: 0px -73px;
}
#companies a.thumbnail.mc p,
#companies a.thumbnail.mc .rollover {
  width: 104px;
  height: 57px;
  margin-left: -52px;
  margin-top: -28.5px;
  background: url(../img/company-mc.svg) no-repeat 0px 2px;
  background-size: 104px auto;
  z-index: 90;
}
#companies a.thumbnail.mc .rollover {
  opacity: 0;
  z-index: 95;
  background-position: 0px -57px;
}
#companies a.thumbnail:hover p {
  opacity: 0;
}
#companies a.thumbnail:hover .rollover {
  opacity: 1;
}
.icon-play {
  display: none;
}
/* Media Queries */
@media only screen and (min-width : 1024px) and (max-width : 1200px) {
  .container .home-video .video p,
  .container .home-video .welcome p {
    top: 132px;
  }
  #services a h4 {
    font-size: 35px;
  }
  #services a .red-overlay {
    height: 319px;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .container .home-video .welcome p,
  .container .home-video .video p {
    font-size: 120px;
    letter-spacing: 0;
    line-height: 88px;
  }
  #services a .red-overlay {
    height: 318px;
  }
  #services a h4 {
    font-size: 34px;
  }
  .icon-play {
    width: 112px;
    height: 112px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -56px;
    margin-top: -56px;
    border: 2px solid #afafaf;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    -ms-border-radius: 300px;
    -o-border-radius: 300px;
    border-radius: 300px;
    z-index: 100;
  }
  .icon-play::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -20px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid #afafaf;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .container .home-video .welcome p,
  .container .home-video .video p {
    top: 115px;
    width: 90%;
  }
  #services {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 10px;
    background: #f4f4f4;
  }
  #services a {
    background: none;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
  }
  #services a h4 {
    font-size: 27px;
    color: #ff3000;
    text-align: center;
    top: 235px;
    left: 0;
    width: 100%;
    line-height: 22px;
  }
  #services a h4 br {
    display: none;
  }
  #services a.enterprise h4 {
    top: 225px;
  }
  #services a .service-text {
    display: block;
    top: 285px;
    text-align: center;
    width: 345px;
    left: 0;
  }
  #services a .service-text p {
    font-size: 15px;
    color: #575656;
    padding-left: 45px;
    padding-right: 45px;
  }
  #services a .service-text p.btn {
    border: 0;
    background: url(../img/sprite-services.svg) no-repeat;
    background-size: 320px auto;
    height: 63px;
    text-indent: -9999em;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: -210px;
    padding: 0;
  }
  #services a .service-text p.btn span {
    width: 93px;
    height: 93px;
    z-index: 100;
    position: absolute;
    left: 50%;
    top: 5px;
    background: none;
    border: 1px solid #ff3000;
    /* Rotate */
  
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /* Rotate Origin */
  
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  #services a .service-text p.btn.icon-mobile {
    width: 35px;
    background-position: 0 -69px;
  }
  #services a .service-text p.btn.icon-cms {
    width: 53px;
    background-position: -37px -64px;
  }
  #services a .service-text p.btn.icon-ux {
    width: 53px;
    background-position: -95px -64px;
  }
  #services a .service-text p.btn.icon-enterprise {
    width: 53px;
    background-position: -150px -59px;
  }
  #services a .service-text p.btn.icon-marketing {
    width: 53px;
    background-position: -206px -65px;
  }
  #services a .service-text p.btn.icon-video {
    width: 58px;
    background-position: -261px -53px;
  }
  #services a .red-overlay {
    background: #fff;
    width: 352px;
    height: 141px;
    top: auto;
    bottom: 0;
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    box-sizing: border-box;
  }
  .container .home-facebook a {
    padding-top: 240px;
    height: 477px;
  }
  .container .home-facebook a h2 {
    width: 460px;
    font-size: 30px;
    line-height: 36px;
  }
  #companies a.thumbnail {
    height: 176px;
  }
  #companies a.thumbnail.paypal p,
  #companies a.thumbnail.paypal .rollover {
    width: 118px;
    height: 32px;
    margin-left: -59px;
    margin-top: -16px;
    background-size: 118px auto;
  }
  #companies a.thumbnail.paypal .rollover {
    background-position: 0px -30px;
  }
  #companies a.thumbnail.dsc p,
  #companies a.thumbnail.dsc .rollover {
    width: 70px;
    height: 70px;
    margin-left: -35px;
    margin-top: -35px;
    background-size: 70px auto;
  }
  #companies a.thumbnail.dsc .rollover {
    background-position: 0px -68px;
  }
  #companies a.thumbnail.cisco p,
  #companies a.thumbnail.cisco .rollover {
    width: 92px;
    height: 53px;
    margin-left: -46px;
    margin-top: -26.5px;
    background-size: 92px auto;
  }
  #companies a.thumbnail.cisco .rollover {
    background-position: 0px -46px;
  }
  #companies a.thumbnail.ebay p,
  #companies a.thumbnail.ebay .rollover {
    width: 128px;
    height: 32px;
    margin-left: -64px;
    margin-top: -17px;
    background-size: 128px auto;
  }
  #companies a.thumbnail.ebay .rollover {
    background-position: 0px -30px;
  }
  #companies a.thumbnail.bbdo p,
  #companies a.thumbnail.bbdo .rollover {
    width: 88px;
    height: 26px;
    margin-left: -44px;
    margin-top: -13px;
    background-size: 88px auto;
  }
  #companies a.thumbnail.bbdo .rollover {
    background-position: 0px -24px;
  }
  #companies a.thumbnail.ebaycarreers p,
  #companies a.thumbnail.ebaycarreers .rollover {
    width: 128px;
    height: 44px;
    margin-left: -64px;
    margin-top: -23px;
    background-size: 128px auto;
  }
  #companies a.thumbnail.ebaycarreers .rollover {
    background-position: 0px -42px;
  }
  #companies a.thumbnail.att p,
  #companies a.thumbnail.att .rollover {
    width: 118px;
    height: 50px;
    margin-left: -59px;
    margin-top: -25px;
    background-size: 118px auto;
  }
  #companies a.thumbnail.att .rollover {
    background-position: 0px -52px;
  }
  #companies a.thumbnail.mc p,
  #companies a.thumbnail.mc .rollover {
    width: 78px;
    height: 40px;
    margin-left: -39px;
    margin-top: -20px;
    background-size: 78px auto;
  }
  #companies a.thumbnail.mc .rollover {
    background-position: 0px -40px;
  }
}
/* Smartphones */
@media only screen and (max-device-width : 767px)  {
  .container .home-video .welcome p,
  .container .home-video .video p {
    font-size: 62px;
    width: 95%;
    top: 45px;
    left: 5px;
    line-height: 47px;
    letter-spacing: 0;
  }
  .container .home-video .video p {
    top: 65px;
  }
  .icon-play {
    width: 78px;
    height: 78px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -39px;
    margin-top: -39px;
    border: 2px solid #afafaf;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    -ms-border-radius: 300px;
    -o-border-radius: 300px;
    border-radius: 300px;
    z-index: 100;
  }
  .icon-play::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -15px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 20px solid #afafaf;
  }
  #services {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background: #f4f4f4;
    margin-left: 0;
    margin-right: 0;
  }
  #services a {
    background: none;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
  }
  #services a h4 {
    font-size: 27px;
    color: #ff3000;
    text-align: center;
    top: 188px;
    left: 0;
    width: 100%;
    line-height: 20px;
  }
  #services a h4 br {
    display: none;
  }
  #services a.enterprise h4 {
    top: 178px;
  }
  #services a .service-text {
    display: block;
    top: 220px;
    text-align: center;
    width: 100%;
    left: 0;
  }
  #services a .service-text p {
    font-size: 15px;
    color: #575656;
    padding-left: 45px;
    padding-right: 45px;
  }
  #services a .service-text p.btn {
    border: 0;
    background: url(../img/sprite-services.svg) no-repeat;
    background-size: 250px auto;
    height: 63px;
    text-indent: -9999em;
    position: absolute;
    left: 50%;
    margin-left: -18px;
    top: -175px;
    padding: 0;
  }
  #services a .service-text p.btn span {
    width: 75px;
    height: 75px;
    z-index: 100;
    position: absolute;
    left: 50%;
    top: 5px;
    background: none;
    border: 1px solid #ff3000;
    /* Rotate */
  
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /* Rotate Origin */
  
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  #services a .service-text p.btn.icon-mobile {
    width: 35px;
    background-position: 3px -53px;
  }
  #services a .service-text p.btn.icon-cms {
    width: 45px;
    background-position: -28px -48px;
  }
  #services a .service-text p.btn.icon-ux {
    width: 50px;
    background-position: -70px -48px;
  }
  #services a .service-text p.btn.icon-enterprise {
    width: 45px;
    background-position: -116px -48px;
  }
  #services a .service-text p.btn.icon-marketing {
    width: 40px;
    background-position: -161px -48px;
  }
  #services a .service-text p.btn.icon-video {
    width: 53px;
    background-position: -201px -41px;
  }
  #services a .red-overlay {
    background: #fff;
    width: 100%;
    height: 133px;
    top: auto;
    bottom: 0;
    display: block;
    box-sizing: border-box;
  }
  .container .home-facebook {
    height: 348px;
  }
  .container .home-facebook a {
    padding-top: 190px;
    height: 348px;
  }
  .container .home-facebook a .fb-icon {
    top: 50px;
  }
  .container .home-facebook a .fb-shadow {
    top: 160px;
  }
  .container .home-facebook a h2 {
    width: 95%;
    font-size: 20px;
    line-height: 26px;
  }
  #companies {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  #companies a.thumbnail {
    height: 160px;
  }
  #companies a.thumbnail.paypal p,
  #companies a.thumbnail.paypal .rollover {
    width: 118px;
    height: 32px;
    margin-left: -59px;
    margin-top: -16px;
    background-size: 118px auto;
  }
  #companies a.thumbnail.paypal .rollover {
    background-position: 0px -30px;
  }
  #companies a.thumbnail.dsc p,
  #companies a.thumbnail.dsc .rollover {
    width: 70px;
    height: 70px;
    margin-left: -35px;
    margin-top: -35px;
    background-size: 70px auto;
  }
  #companies a.thumbnail.dsc .rollover {
    background-position: 0px -68px;
  }
  #companies a.thumbnail.cisco p,
  #companies a.thumbnail.cisco .rollover {
    width: 92px;
    height: 53px;
    margin-left: -46px;
    margin-top: -26.5px;
    background-size: 92px auto;
  }
  #companies a.thumbnail.cisco .rollover {
    background-position: 0px -46px;
  }
  #companies a.thumbnail.ebay p,
  #companies a.thumbnail.ebay .rollover {
    width: 128px;
    height: 32px;
    margin-left: -64px;
    margin-top: -17px;
    background-size: 128px auto;
  }
  #companies a.thumbnail.ebay .rollover {
    background-position: 0px -30px;
  }
  #companies a.thumbnail.bbdo p,
  #companies a.thumbnail.bbdo .rollover {
    width: 88px;
    height: 26px;
    margin-left: -44px;
    margin-top: -13px;
    background-size: 88px auto;
  }
  #companies a.thumbnail.bbdo .rollover {
    background-position: 0px -24px;
  }
  #companies a.thumbnail.ebaycarreers p,
  #companies a.thumbnail.ebaycarreers .rollover {
    width: 128px;
    height: 44px;
    margin-left: -64px;
    margin-top: -23px;
    background-size: 128px auto;
  }
  #companies a.thumbnail.ebaycarreers .rollover {
    background-position: 0px -42px;
  }
  #companies a.thumbnail.att p,
  #companies a.thumbnail.att .rollover {
    width: 118px;
    height: 50px;
    margin-left: -59px;
    margin-top: -25px;
    background-size: 118px auto;
  }
  #companies a.thumbnail.att .rollover {
    background-position: 0px -52px;
  }
  #companies a.thumbnail.mc p,
  #companies a.thumbnail.mc .rollover {
    width: 78px;
    height: 40px;
    margin-left: -39px;
    margin-top: -20px;
    background-size: 78px auto;
  }
  #companies a.thumbnail.mc .rollover {
    background-position: 0px -40px;
  }
}
