.list-services .rollover{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebff3000', endColorstr='#ebff3000',GradientType=0 );}
.list-services .content{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1ffffff', endColorstr='#d1ffffff',GradientType=0 );}
#content .team .rollover{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1ffffff', endColorstr='#d1ffffff',GradientType=0 );}
body{ min-width:1000px;}
