/* retina 940 */ 
@media only screen and (max-width: 940px){
	.navigation .opener{
		background: url('../images/sprite-table@2x.png') no-repeat -59px 0;
		background-size: 500px 652px;
		width: 33px;
		height: 23px;
	}
	#header .logo{
		background: url('../images/sprite-table@2x.png') no-repeat 0 0;
		background-size: 500px 652px;
		width: 42px;
		height: 58px;
	}
	#header.open .navigation .opener{
		background: url('../images/sprite-table@2x.png') no-repeat -117px 0;
		background-size: 500px 652px; 
		width: 23px; 
		height: 23px;
	}
	#content .fb-like .like{
		background: url('../images/sprite-table@2x.png') no-repeat -172px 0; 
		background-size: 500px 652px; 
		width: 84px; 
		height: 118px;
	}
	#content .fb-like .like.disabled{
		background: url('../images/sprite-table@2x.png') no-repeat -282px 0; 
		background-size: 500px 652px; 
		width: 84px;
		height: 117px;
	}
	.list-services.small .rollover .icon-01:hover,
	.list-services.small .rollover .icon-01{
		background: url('../images/sprite-table@2x.png') no-repeat 0 -418px; 
		background-size: 500px 652px;
	}
	.list-services.small .rollover .icon-02:hover,
	.list-services.small .rollover .icon-02{
		background: url('../images/sprite-table@2x.png') no-repeat -121px -418px; 
		background-size: 500px 652px;
	}
	.list-services.small .rollover .icon-03:hover,
	.list-services.small .rollover .icon-03{
		background: url('../images/sprite-table@2x.png') no-repeat -243px -418px; 
		background-size: 500px 652px;
	}
	.list-services.small .rollover .icon-04:hover,
	.list-services.small .rollover .icon-04{
		background: url('../images/sprite-table@2x.png') no-repeat -366px -418px; 
		background-size: 500px 652px;
	}
	.list-services.small .rollover .icon-05:hover,
	.list-services.small .rollover .icon-05{
		background: url('../images/sprite-table@2x.png') no-repeat 0 -541px; 
		background-size: 500px 652px;
	}
	.list-services.small .rollover .icon-06:hover,
	.list-services.small .rollover .icon-06{
		background: url('../images/sprite-table@2x.png') no-repeat -121px -541px; 
		background-size: 500px 652px;
	}
	.list-services .rollover .icon-01:hover,
	.list-services .rollover .icon-01{
		background: url('../images/sprite-table@2x.png') no-repeat 0 -128px; 
		background-size: 500px 652px;
	}
	.list-services .rollover .icon-02:hover,
	.list-services .rollover .icon-02{
		background: url('../images/sprite-table@2x.png') no-repeat -152px -128px;
		background-size: 500px 652px;
	}
	.list-services .rollover .icon-03:hover,
	.list-services .rollover .icon-03{
		background: url('../images/sprite-table@2x.png') no-repeat -298px -127px; 
		background-size: 500px 652px; 
	}
	.list-services .rollover .icon-04:hover,
	.list-services .rollover .icon-04{
		background: url('../images/sprite-table@2x.png') no-repeat 0 -272px; 
		background-size: 500px 652px; 
	}
	.list-services .rollover .icon-05:hover,
	.list-services .rollover .icon-05{
		background: url('../images/sprite-table@2x.png') no-repeat -152px -272px; 
		background-size: 500px 652px; 
	}
	.list-services .rollover .icon-06:hover,
	.list-services .rollover .icon-06{
		background: url('../images/sprite-table@2x.png') no-repeat -298px -272px; 
		background-size: 500px 652px; 
	}
	#content .visual .icon-01{
		background: url('../images/sprite-visual-medium2x.png') no-repeat -260px 0;
		background-size: 800px 124px;
	}
	#content .visual .icon-02{
		background: url('../images/sprite-visual-medium2x.png') no-repeat -516px 0;
		background-size: 800px 124px;
	}
	#content .visual .icon-03{
		background: url('../images/sprite-visual-medium2x.png') no-repeat -389px 0;
		background-size: 800px 124px;
	}
	#content .visual .icon-04{
		background: url('../images/sprite-visual-medium2x.png') no-repeat 0 0;
		background-size: 800px 124px;
	}
	#content .visual .icon-05{
		background: url('../images/sprite-visual-medium2x.png') no-repeat -129px 0;
		background-size: 800px 124px;
	}
	#content .visual .icon-06{
		background: url('../images/sprite-visual-medium2x.png') no-repeat -675px 0;
		background-size: 800px 124px;
	}
	#content .list-products h2:after{
		background: url('../images/sprite-table@2x.png') no-repeat -379px 0;
		background-size: 500px 652px;
		width: 21px;
		height: 24px;
	}
	#content .list-products .icon-01:after{
		background: url('../images/sprite-table@2x.png') no-repeat -437px -56px;
		background-size: 500px 652px;
	}
	#content .list-products .icon-02:after{
		background: url('../images/sprite-table@2x.png') no-repeat -464px -56px;
		background-size: 500px 652px;
	}
	#content .list-products .icon-03:after{
		background: url('../images/sprite-table@2x.png') no-repeat -381px -82px;
		background-size: 500px 652px;
	}
	#content .list-products .icon-04:after{
		background: url('../images/sprite-table@2x.png') no-repeat -407px -82px;
		background-size: 500px 652px;
	}
	#content .list-products .icon-05:after{
		background: url('../images/sprite-table@2x.png') no-repeat -437px -133px;
		background-size: 500px 652px;
	}
	#content .list-products .icon-06:after{
		background: url('../images/sprite-table@2x.png') no-repeat -477px -133px;
		background-size: 500px 652px;
	}
	#content .list-products .icon-07:after{
		background: url('../images/sprite-table@2x.png') no-repeat -438px -160px;
		background-size: 500px 652px;
	}
	#content .list-products .icon-08:after{
		background: url('../images/sprite-table@2x.png') no-repeat -481px -160px;
		background-size: 500px 652px;
	}
	#content .list-products .icon-09:after{
		background: url('../images/sprite-table@2x.png') no-repeat -435px -82px;
		background-size: 500px 652px;
	}
	#content .list-products .icon-10:after{
		background: url('../images/sprite-table@2x.png') no-repeat -464px -82px;
		background-size: 500px 652px;
	}
	#content .list-products .icon-11:after{
		background: url('../images/sprite-table@2x.png') no-repeat -440px -108px;
		background-size: 500px 652px;
	}
	#content .list-products .icon-12:after{
		background: url('../images/sprite-table@2x.png') no-repeat -473px -108px;
		background-size: 500px 652px;
	}
	#content .list-products .icon-13:after{
		background: url('../images/sprite-table@2x.png') no-repeat -379px 0;
		background-size: 500px 652px;
	}
	#content .list-products .icon-14:after{
		background: url('../images/sprite-table@2x.png') no-repeat -406px 0;
		background-size: 500px 652px;
	}
	#content .list-products .icon-15:after{
		background: url('../images/sprite-table@2x.png') no-repeat -433px 0;
		background-size: 500px 652px;
	}
	#content .list-products .icon-16:after{
		background: url('../images/sprite-table@2x.png') no-repeat -460px 0;
		background-size: 500px 652px;
	}
	#content .list-products .icon-17:after{
		background: url('../images/sprite-table@2x.png') no-repeat -377px -28px;
		background-size: 500px 652px;
	}
	#content .list-products .icon-18:after{
		background: url('../images/sprite-table@2x.png') no-repeat -405px -28px;
		background-size: 500px 652px;
	}
	#content .list-products .icon-19:after{
		background: url('../images/sprite-table@2x.png') no-repeat -433px -28px;
		background-size: 500px 652px;
	}
	#content .list-products .icon-20:after{
		background: url('../images/sprite-table@2x.png') no-repeat -458px -27px;
		background-size: 500px 652px;
	}
	#content .list-products .icon-21:after{
		background: url('../images/sprite-table@2x.png') no-repeat -378px -56px;
		background-size: 500px 652px;
	}
	#content .list-products .icon-22:after{
		background: url('../images/sprite-table@2x.png') no-repeat -408px -56px;
		background-size: 500px 652px;
	}
	#content .contact .company:after{
		background: url('../images/sprite-table@2x.png') no-repeat -8px -71px;
		background-size: 500px 652px;
	}
	#content .contact .social .linkedin:after{
		background: url('../images/sprite-table@2x.png') no-repeat -438px -276px;
		background-size: 500px 652px;
	}
	#content .contact .social .linkedin:hover:after{
		background: url('../images/sprite-table@2x.png') no-repeat -471px -276px;
		background-size: 500px 652px;
	}
	#content .contact .social .facebook:after{
		background: url('../images/sprite-table@2x.png') no-repeat -438px -319px;
		background-size: 500px 652px;
	}
	#content .contact .social .facebook:hover:after{
		background: url('../images/sprite-table@2x.png') no-repeat -479px -319px;
		background-size: 500px 652px;
	}
	#content .contact .social .pinterest:after{
		background: url('../images/sprite-table@2x.png') no-repeat -438px -364px;
		background-size: 500px 652px;
	}
	#content .contact .social .pinterest:hover:after{
		background: url('../images/sprite-table@2x.png') no-repeat -478px -364px;
		background-size: 500px 652px;
	}
}
/* retina 640px */
@media only screen and (max-width: 640px){
	#header.open .sub-logo{
		background: url('../images/sprite-mobile@2x.png') no-repeat 0 0;
		background-size: 500px 300px;
	}
	#header.open .navigation .opener{
		background: url('../images/sprite-mobile@2x.png') no-repeat -50px -24px;
		background-size: 500px 300px;
	}
	.navigation .opener{
		background: url('../images/sprite-mobile@2x.png') no-repeat -92px 0;
		background-size: 500px 300px;
	}
	#header .logo{
		background: url('../images/sprite-mobile@2x.png') no-repeat 0 -23px;
		background-size: 500px 300px;
	}
	.list-services .rollover .icon-01:hover,
	.list-services .rollover .icon-01{
		background: url('../images/sprite-mobile@2x.png') no-repeat 0 -70px;
		background-size: 500px 300px;
	}
	.list-services .rollover .icon-02:hover,
	.list-services .rollover .icon-02{
		background: url('../images/sprite-mobile@2x.png') no-repeat -116px -70px;
		background-size: 500px 300px;
	}
	.list-services .rollover .icon-03:hover,
	.list-services .rollover .icon-03{
		background: url('../images/sprite-mobile@2x.png') no-repeat -236px -70px;
		background-size: 500px 300px;
	}
	.list-services .rollover .icon-04:hover,
	.list-services .rollover .icon-04{
		background: url('../images/sprite-mobile@2x.png') no-repeat 0 -189px;
		background-size: 500px 300px;
	}
	.list-services .rollover .icon-05:hover,
	.list-services .rollover .icon-05{
		background: url('../images/sprite-mobile@2x.png') no-repeat -116px -189px;
		background-size: 500px 300px;
	}
	.list-services .rollover .icon-06:hover,
	.list-services .rollover .icon-06{
		background: url('../images/sprite-mobile@2x.png') no-repeat -236px -189px;
		background-size: 500px 300px;
	}
	#content .visual .icon-01{
		background: url('../images/sprite-visual-small@2x.png') no-repeat 0 0;
		background-size: 540px 83px;
	}
	#content .visual .icon-02{
		background: url('../images/sprite-visual-small@2x.png') no-repeat -346px 0;
		background-size: 540px 83px;
	}
	#content .visual .icon-03{
		background: url('../images/sprite-visual-small@2x.png') no-repeat -260px 0;
		background-size: 540px 83px;
	}
	#content .visual .icon-04{
		background: url('../images/sprite-visual-small@2x.png') no-repeat -86px 0;
		background-size: 540px 83px;
	}
	#content .visual .icon-05{
		background: url('../images/sprite-visual-small@2x.png') no-repeat -174px 0;
		background-size: 540px 83px;
	}
	#content .visual .icon-06{
		background: url('../images/sprite-visual-small@2x.png') no-repeat -456px 0;
		background-size: 540px 83px;
	}
	#content .list-products h2:after{
		background: url('../images/sprite-mobile@2x.png') no-repeat 0 -9999px;
		background-size: 500px 300px;
	}
	#content .list-products .icon-01:after{
		background: url('../images/sprite-mobile@2x.png') no-repeat -347px 0;
		background-size: 500px 300px;
	}
	#content .list-products .icon-02:after{
		background: url('../images/sprite-mobile@2x.png') no-repeat -385px 0;
		background-size: 500px 300px;
	}
	#content .list-products .icon-03:after{
		background: url('../images/sprite-mobile@2x.png') no-repeat -430px 0;
		background-size: 500px 300px;
	}
	#content .list-products .icon-04:after{
		background: url('../images/sprite-mobile@2x.png') no-repeat -466px 0;
		background-size: 500px 300px;
	}
	#content .list-products .icon-05:after{
		background: url('../images/sprite-mobile@2x.png') no-repeat -348px -208px;
		background-size: 500px 300px;
	}
	#content .list-products .icon-06:after{
		background: url('../images/sprite-mobile@2x.png') no-repeat -386px -208px;
		background-size: 500px 300px;
	}
	#content .list-products .icon-07:after{
		background: url('../images/sprite-mobile@2x.png') no-repeat -423px -208px;
		background-size: 500px 300px;
	}
	#content .list-products .icon-08:after{
		background: url('../images/sprite-mobile@2x.png') no-repeat -472px -208px;
		background-size: 500px 300px;
	}
	#content .list-products .icon-09:after{
		background: url('../images/sprite-mobile@2x.png') no-repeat -349px -174px;
		background-size: 500px 300px;
	}
	#content .list-products .icon-10:after{
		background: url('../images/sprite-mobile@2x.png') no-repeat -386px -174px;
		background-size: 500px 300px;
	}
	#content .list-products .icon-11:after{
		background: url('../images/sprite-mobile@2x.png') no-repeat -426px -174px;
		background-size: 500px 300px;
	}
	#content .list-products .icon-12:after{
		background: url('../images/sprite-mobile@2x.png') no-repeat -465px -174px;
		background-size: 500px 300px;
	}
	#content .list-products .icon-13:after{
		background: url('../images/sprite-mobile@2x.png') no-repeat -346px -38px;
		background-size: 500px 300px;
	}
	#content .list-products .icon-14:after{
		background: url('../images/sprite-mobile@2x.png') no-repeat -385px -38px;
		background-size: 500px 300px;
	}
	#content .list-products .icon-15:after{
		background: url('../images/sprite-mobile@2x.png') no-repeat -430px -39px;
		background-size: 500px 300px;
	}
	#content .list-products .icon-16:after{
		background: url('../images/sprite-mobile@2x.png') no-repeat -347px -89px;
		background-size: 500px 300px;
	}
	#content .list-products .icon-17:after{
		background: url('../images/sprite-mobile@2x.png') no-repeat -403px -89px;
		background-size: 500px 300px;
	}
	#content .list-products .icon-18:after{
		background: url('../images/sprite-mobile@2x.png') no-repeat -455px -89px;
		background-size: 500px 300px;
	}
	#content .list-products .icon-19:after{
		background: url('../images/sprite-mobile@2x.png') no-repeat -346px -131px;
		background-size: 500px 300px;
	}
	#content .list-products .icon-20:after{
		background: url('../images/sprite-mobile@2x.png') no-repeat -372px -131px;
		background-size: 500px 300px;
	}
	#content .list-products .icon-21:after{
		background: url('../images/sprite-mobile@2x.png') no-repeat -415px -131px;
		background-size: 500px 300px;
	}
	#content .list-products .icon-22:after{
		background: url('../images/sprite-mobile@2x.png') no-repeat -460px -131px;
		background-size: 500px 300px;
	}
	#content .list-products .icon-23:after{
		background: url('../images/sprite-mobile@2x.png') no-repeat -347px -249px;
		background-size: 500px 300px;
	}
	#content .list-products .icon-24:after{
		background: url('../images/sprite-mobile@2x.png') no-repeat -388px -249px;
		background-size: 500px 300px;
	}
	#content .list-products .icon-25:after{
		background: url('../images/sprite-mobile@2x.png') no-repeat -432px -249px;
		background-size: 500px 300px;
	}
	#content .list-products .icon-26:after{
		background: url('../images/sprite-mobile@2x.png') no-repeat -459px -249px;
		background-size: 500px 300px;
	}
	#content .list-products .icon-27:after{
		background: url('../images/sprite-mobile@2x.png') no-repeat -477px -41px;
		background-size: 500px 300px;
	}
	#content .list-products .icon-28:after{
		background: url('../images/sprite-mobile@2x.png') no-repeat -304px 0;
		background-size: 500px 300px;
	}
	.list-services.small .rollover .icon-01:hover,
	.list-services.small .rollover .icon-01{
		background: url('../images/sprite-table@2x.png') no-repeat 0 -418px; 
		background-size: 500px 652px;
	}
	.list-services.small .rollover .icon-02:hover,
	.list-services.small .rollover .icon-02{
		background: url('../images/sprite-table@2x.png') no-repeat -121px -418px; 
		background-size: 500px 652px;
	}
	.list-services.small .rollover .icon-03:hover,
	.list-services.small .rollover .icon-03{
		background: url('../images/sprite-table@2x.png') no-repeat -243px -418px; 
		background-size: 500px 652px;
	}
	.list-services.small .rollover .icon-04:hover,
	.list-services.small .rollover .icon-04{
		background: url('../images/sprite-table@2x.png') no-repeat -366px -418px; 
		background-size: 500px 652px;
	}
	.list-services.small .rollover .icon-05:hover,
	.list-services.small .rollover .icon-05{
		background: url('../images/sprite-table@2x.png') no-repeat 0 -541px; 
		background-size: 500px 652px;
	}
	.list-services.small .rollover .icon-06:hover,
	.list-services.small .rollover .icon-06{
		background: url('../images/sprite-table@2x.png') no-repeat -121px -541px; 
		background-size: 500px 652px;
	}
	#content .contact .company:after {
		background: url('../images/sprite-mobile@2x.png') no-repeat -136px 0;
		background-size: 500px 300px;
	}
}